<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(~{::content}, '/css/home.css')"
      th:with="title='Inicio'">

<div th:fragment="content">
    <div class="dashboard-container">
        <div class="dashboard-header">
            <h1 class="dashboard-title">Panel de Administración</h1>
            <p class="dashboard-subtitle">Gestiona los diferentes módulos del sistema</p>
        </div>

        <div class="action-grid">
            <a href="/credito/form" class="action-card invoice-management">
                <div class="action-icon">
                    <i class="fa-solid fa-money-bill"></i>
                </div>
                <div class="action-content">
                    <h3>Solicitud de credito</h3>
                    <p>Administra los creditos</p>
                </div>
                <div class="action-hover">
                    <span>Acceder al módulo</span>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>


            <a href="/usuarios/estadoDeCreditos" class="action-card user-management">
                <div class="action-icon">
                    <i class="fas fa-users-cog"></i>
                </div>
                <div class="action-content">
                    <h3>Estado de cuenta</h3>
                    <p>Administra a los trabajadores</p>
                </div>
                <div class="action-hover">
                    <span>Acceder al módulo</span>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>

            <a href="/usuarios/userAccount" class="action-card invoice-management">
                <div class="action-icon">
                    <i class="fa-solid fa-money-bill"></i>
                </div>
                <div class="action-content">
                    <h3>Editar cuenta</h3>
                    <p>Administra los creditos</p>
                </div>
                <div class="action-hover">
                    <span>Acceder al módulo</span>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>


        </div>
    </div>
</div>
</html>